<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
        <title>GroupMe Superlatives & NLP Analysis</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="../static/images/groupme.png">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/base.css') }}">
    </head>
    <body>
        <div class="header">
            <h1><a href="/">GroupMe Superlatives & NLP Analysis</a></h1>
        </div>

        {% block content %}
        {% endblock %}

        <div class="footer">
            <p><a href="/">Home</a></p>
            <p>Created by <a href="https://www.linkedin.com/in/dan-blevins/" target="_blank">Dan Blevins</a></p>
        </div>
    </body>
</html>